include includes/mixins
include includes/layout
  .top
    h1.getthedone hey
    h1.getthedone how
    h1.shit lets go
  .lower
    p this is just a test page to show how routing is done, just by using different subpages (jade templates).
